#Case1Wrap {
    position: relative;
    /*ここからはデザイン*/
    width: 600px;
    height: 300px;
    background-image: url(../img/芝.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
}

#Case1 {
    position: absolute;
    width: 100px;
    height: 100px;
    /*ここからはデザイン*/
    top: 5%;
    left: 0;
}

#Case2 {
    position: absolute;
    width: 100px;
    height: 100px;

    /*ここからはデザイン*/
    top: 40%;
    left: 0;
}

#Case3 {
    position: absolute;
    width: 100px;
    height: 100px;
    /*ここからはデザイン*/
    top: 55%;
    left: 0;
}

#Case1 img {
    width: 100px;
}

#Case2 img {
    width: 100px;
}

#Case3 img {
    width: 100px;
}

